/* p{
    color:red;
    font-size: 25px;
}
.jk{
    color:blue;
}

#jk1{
    color:brown;
}
div{
    height:200px;
    width:200px;
    background-color: aqua;
    text-align:center;
    align-content:center;
    padding: 5px;
} */

.container{
    border:2px solid black;
    
    padding:20px;
    width:600px;
}
.box{
    display:inline-block;
    height:200px;
    width:150px;
    padding:10px;
    margin:10px;
    text-align:center;
    vertical-align:top;
}
.box1{
    background-color:rgb(205,206,2);
}
.box2{
    background-color:rgb(134,3,3);

}
.box3{
    background-color:rgb(124,151,185);
}







